<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.info.time_cost.mapper.CostMapper">


    <select id="findByCostId" resultType="com.info.pojo.Cost">
        select * from cost
    </select>

    <insert id="insertCost" useGeneratedKeys="true" keyProperty="cost_id" keyColumn="cost_id">
        insert into cost (cost_createtime) values (#{cost_createtime})
    </insert>

    <update id="changeStatus" >
        update boardlocation set `using`='1' where `board_id`=${board_id}
    </update>

    <select id="getlocation" resultType="String">
        select location from boardlocation where board_id=#{board_id}
    </select>

    <insert id="insertOrderCost" keyColumn="order_cost_id" keyProperty="order_cost_id" useGeneratedKeys="false">
        insert into order_cost (order_id, cost_id) values (#{order_id},#{cost_id})
    </insert>

    <insert id="" >

    </insert>
</mapper>